header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.btn-wsp{
    display: block;
    position: fixed;
    width: 48px;
    height: 48px;
    line-height: 48px;
    bottom: 30px;
    right: 30px;
    background-color: white;
    color: white;
    border-radius: 50px;
    text-align: center;
}

.btn-wsp:hover{
    width: 50px;
    height: 50px;
}

#iconoWhatsApp{
    width: 100%;
}

#botonMenu{
    display: none;
}

header img{
    width: 40%;
}

#Titulo{
    color: #795548;
}

#Encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a{
    padding: 30px;
    text-decoration: none;
    color: #795548;
    font-weight: bold;
}

nav a:hover{
    color: #B71C1C;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Foto{
    width: 100%;
}

.Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: justify;
    color: #795548;
}

.Info h1{
    font-size: 30px;
}

.Info h2{
    color: #795548;
}

.Info h3{
    font-size: 22px;
}

.Info h4{
    font-size: 18px;
}

.TituloSeccion{
    font-size: 30px;
    text-align: center;
}

.Info p{
    font-size: 18px;
}

.InfoDueño{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: justify;
    color: #795548;
    margin-top: 2%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #795548;
    background-color: #B0BEC5;
    margin-top: 5%;
}

footer a{
    list-style: none;
    text-decoration: none;
    color: #795548;
}

.FooterLinks a:hover{
    color: #B71C1C;
    padding-left: 6px;
}

.FooterLinks{
    color: #795548;
    display: flex;
    flex-direction: column;
}

.FooterLinks a{
    margin-bottom: 10px;
    transition: all .3s ease;
}

.RedesLinks{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#links{
    display: flex;
    flex-direction: row;
}

.RedesLinks a{
    margin-bottom: 5px;
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #ECEFF1;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 10px 10px 0;
    transition: all .5s ease;
}

.RedesLinks a:hover{
    background-color: #D0D7DB;
}

#FotoDueño{
    width: 20%;
    border: solid 1px black;
    margin-right: 2%;
}

#ColFooter{
    display: flex;
    flex-wrap: wrap;
}

#FotoDueño{
    border: 0px;
}

body{
    background-color: #ECEFF1;
}

@media (max-width: 991px){

    .btn-wsp{
        display: none;
    }
    
    #Encabezado{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #botonMenu{
        display: block;
    }

    header{
        width: 100%;
    }

    #logo{
        width: 50%;
    }

    #navigation-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    #navigation-menu a{
        margin: 0px;
        padding: 20px;
    }

    main{
        margin-top: 20px;
    }

    .Info{
        width: 80%;
    }

    #Foto{
        width: 100%;
    }

    .InfoDueño{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #FotoDueño{
        width: 40%;
    }

    #Datos{
        text-align: center;
    }

}