.ImagenYTitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ImagenYTitulo img{
    margin-right: 10px;
}

.Descripcion{
    text-align: center;
}

.Descripcion a{
    text-decoration: none;
    color: #795548;
}

.Descripcion a:hover{
    color: #B71C1C;
}